@import "tailwindcss";

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-Regular';
  src: url('/fonts/Ibm_plex_mono/IBMPlexMono-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-Medium';
  src: url('/fonts/Ibm_plex_mono/IBMPlexMono-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-SemiBold';
  src: url('/fonts/Ibm_plex_mono/IBMPlexMono-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-Bold';
  src: url('/fonts/Ibm_plex_mono/IBMPlexMono-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #020617;
  }

  * {
    @apply border-slate-200;
    font-family: inherit;
  }

  body {
    @apply bg-white text-slate-950 antialiased selection:bg-blue-100 selection:text-blue-900;
  }
}

@theme {
  --font-dmsans: "DM Sans";
  --font-ibmplexmonoregular: "IBMPlexMono-Regular";
  --font-ibmplexmonomedium: "IBMPlexMono-Medium";
  --font-ibmplexmonosemi: "IBMPlexMono-SemiBold";
  --font-ibmplexmonibold: "IBMPlexMono-Bold";
}